#charts {
    width: 1500px;
}

.InsideContent{
    display:inline-block;
}
#curve_chart1{
  width:250px;
  float:left;
  width: 500px; 
  height: 310px
}  
#curve_chart2{
  width:2500x;
  width: 500px; 
  height: 310px
} 

#curve_chart3{
  width:250px;
  float:right;
  width: 500px; 
  height: 310px

} 
