<!DOCTYPE html>
<html ng-app="mapsApp">
<head lang="en">
  <meta charset="UTF-8">
  <link href="metro.css" rel="stylesheet">
  <script src="jquery.js"></script>
  <script src="metro.js"></script>
 
<title>This is the map of the expedition</title>
<link rel="stylesheet" href="css/maps.css">
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular.min.js"></script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD6SfOqSpJQa45i0LWO-9zSrV9HDPzACYg&signed_in=true&callback=initMap"></script>
<script type="text/javascript" src="js/maps.js"></script>



 <script type="text/javascript"
          src="https://www.google.com/jsapi?autoload={
            'modules':[{
              'name':'visualization',
              'version':'1',
              'packages':['corechart']
            }]
          }"></script>

    <script type="text/javascript">
      google.setOnLoadCallback(drawChart);
// Callback that creates and populates a data table,
// instantiates the chart, passes in the data and
// draws it
      function drawChart() {
        //this is the first chart to visualize with the data
        var data1 = google.visualization.arrayToDataTable([
          ['Dates', 'distance'],
          ['01 april',  1000],
          ['02 april',  1170],
          ['03 april',  660],
          ['04 april',  1030]
        ]);
        var data2 = google.visualization.arrayToDataTable([
          ['Dates', 'distance'],
          ['01 april',  1000],
          ['02 april',  1170],
          ['03 april',  660],
          ['04 april',  1030]
        ]);

           var data3 = google.visualization.arrayToDataTable([
          ['Year', 'Heartrate', 'distance'],
          ['2004', 400, 1500],
          ['2005', 60, 1600],
          ['2006', 1120, 1700],
          ['2007',  540, 1800]
        ]);



         // Set chart options for teh first chart
        var options1 = {
          title: 'Heartrate vs days',
          curveType: 'function',
          legend: { position: 'bottom' }
        };
         // Set chart options for the second chart
           var options2 = {
          title: 'Distance vs days',
          curveType: 'function',
          legend: { position: 'bottom' }
        };

        // Set chart options for the thirdchart
          var options3 = {
          title: 'Heart-rate vs distance vs days',
          curveType: 'function',
          legend: { position: 'bottom' }
        };

       
        // Instantiate and draw our first chart, passing in some options.
        var chart = new google.visualization.LineChart(document.getElementById('curve_chart1'));
        chart.draw(data1, options1);
        // Instantiate and draw our second chart, passing in some options.
        var chart2 = new google.visualization.LineChart(document.getElementById('curve_chart2'));
            chart2.draw(data2, options2);
        // Instantiate and draw our second chart, passing in some options.    
           var chart3 = new google.visualization.LineChart(document.getElementById('curve_chart3'));
            chart3.draw(data3, options3);

        
      }
    </script>
</head>
<body>

<div ng-controller="MapCtrl">
    <div id="map"></div>
    <div id="repeat" ng-repeat="marker in markers | orderBy : 'title'">
         <a id="country_container" href="#" ng-click="openInfoWindow($event, marker)">
         <label id="names" >{{marker.title}}</label></a>
</div>
<div id="charts">
<div id="curve_chart1" class="InsideContent">left</div>
<div id="curve_chart2" class="InsideContent">Middle</div>
<div id="curve_chart3" class="InsideContent">right</div>
<div class="clear"></div> 

<div class="grid show-grid">

                        <div class="tile-group no-margin no-padding" style="width:100%">
                      
                            <div class="tile-large ol-transparent" data-role="tile"></div>
                            <div class="tile-wide ol-transparent" data-role="tile"></div>
                            
                            <div class="tile-wide ol-transparent" data-role="tile"></div>
                            
                       
                        </div>



    </div>

</body>
</html>